@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
body {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  /* background-color: #f1f7fe; */
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.bg-navbar {
  background-color: #f0f8fd;
}
.bg-sidebar {
  background-color: #f0f8fd;
}
.text-sign-out {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.text-sign-out:hover {
  color: black;
}
.text-logo {
  font-size: 25px;
}
.logo-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.header-avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.text-title-card {
  color: black;
}
.text-number {
  color: #042954;
  font-weight: 700;
}
.box-card {
  border-radius: 15px;
  border-color: #fff;
}
.box-card-visitor {
  background-color: #d1edff;
  border-color: #d1edff;
}
.box-card-visitor:hover {
  transform: scale(1.1);
}
.box-card-project {
  background-color: #efe4fe;
  border-color: #efe4fe;
}
.box-card-project:hover {
  transform: scale(1.1);
}
.box-card-client {
  background-color: #fbe8f2;
  border-color: #fbe8f2;
}
.box-card-client:hover {
  transform: scale(1.1);
}
.box-card-inbox {
  background-color: #eefdea;
  border-color: #eefdea;
}
.box-card-inbox:hover {
  transform: scale(1.1);
}
.logo-size {
  font-size: 45px;
}
.logo-visitor {
  color: #0871b3;
}
.logo-project {
  color: #4d0ea5;
}
.logo-client {
  color: #e6077e;
}
.logo-inbox {
  color: #35d10a;
}

.link-active {
  background-color: #d0bbff;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-dash {
  font-size: 20px;
  font-weight: 600;
}

/* REAL TIME DATE */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.display-date {
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  width: 180px;
  height: 73px;
  padding: 10px 5px;
  border: 1px solid #8622ff;
  border-radius: 12px;
  background-color: #8622ff;
  color: white;
}

.display-time {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

/* Nama Mesin */

.nama-mesin {
  width: 68px;
  height: 30px;
  border: 1px solid #9551ff;
  background-color: #9551ff;
  border-radius: 15px;
  padding: 3px 5px;
  text-align: center;
  color: white;
  font-weight: 500;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 25px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0d6efd;
  border-radius: 25px;
}
.bg-purple {
  background-color: #8622ff;
}
